$form-bg-color: #aa06010d;

.form-container {
    padding-bottom: 80px;
    padding-top: 64px;
    background-color: $form-bg-color;
}

.form-group {
    max-width: 50%;
    margin: 0 auto;

    @media (max-width: 768px){
        max-width: 65%;
    }

    .form-caption {
        text-align: center;
        margin-bottom: 0.8rem;

        @media (max-width: 768px) {
            font-size: $font-size * 4;
            line-height: 48px;
            margin-bottom: 12px;
        }
    }

    .form-lead {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: $font-size * 2;
            line-height: 24px;
            margin-bottom: 12px;
        }
    }

    label {
        margin-bottom: 4px;

        @media (max-width: 768px) {
            margin-bottom: 2px;
        }
    }
    input {
        padding: 17px 0 17px 16px;
        margin-bottom: $space * 2;

        @media (max-width: 768px) {
            margin-bottom: $space;
            padding: 8px 12px;
        }
    }
    input[type="submit"] {
        max-width: 50%;
        background-color: $blood;
        color: $white;
        cursor: pointer;
        left: 25%;


        @media (max-width: 768px) {
            width: 50%;
        }
    }

    textarea {
        height: 136px;
        margin-bottom: 16px;

        @media (max-width: 768px) {
            height: 100px;
            margin-bottom: $space;
        }
    }

    .check-group {
        margin-bottom: 42px;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
}
