.location-details {
    display: flex;

    @media (max-width: 768px) {
        display: block;
    }

    .location-inner {
        @media (max-width: 768px) {
            margin: 0 2.5%;
            display: flex;
            margin-bottom: $space * 4;
        }

        .info-box-big {
            max-width: 100%;
            @media (max-width: 768px) {
                max-width: 50%;
                margin: 0 2.5%;
                margin-bottom: $space * 4;

                img {
                    display: none;
                }
            }
        }

        .info-backgroundimage {
            background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/locate1.jpeg);
            height: 164px;
            display: none;
            @media (max-width: 768px) {
                display: block;
                width: 50%;
                height: auto;
            }
        }

    }
    .map-location {
        max-width: 60%;
      
        @media (max-width: 768px) {
            max-width: 100%;
            margin: 0 ;
            img{
                width: 95%;
                margin: 0 2.5%;
                height: 100%;
            }
        }
    }
}

.location-container {
    @media (max-width: 768px) {
        padding: 0 39px;
    }
}

.location-select {
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        margin-left: 16px;
    }

    label {
        font-size: 24px;
        line-height: 30px;
        margin-right: 20px;

        @media (max-width:500px){
            font-size: 16px;
        }

        @media (max-width:375px){
            font-size: 14px;
        }
    }

    select {
        padding: 10px 0;
        width: 324px;
    }
}
